<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a6567419-a7c8-409d-970e-701b35676fe8/resourceGroups/atc-rowm-prod/providers/Microsoft.Web/sites/Atc-862-rowmgr</ResourceId>
    <ResourceGroup>atc-rowm-prod</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://atc-862-rowmgr.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>31360b6a-20fe-4159-a5f6-081e6126d04a</ProjectGuid>
    <MSDeployServiceURL>atc-862-rowmgr.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Atc-862-rowmgr</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Atc-862-rowmgr</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <TargetFramework>net48</TargetFramework>
    <RuntimeIdentifier>win7-x86</RuntimeIdentifier>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ROWM.Dal.ROWM_SdeContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ROWM.Dal.ROWM_SdeContext, ROWM3.Dal" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ROWM.Dal.ROWM_Context" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ROWM.Dal.ROWM_Context, ROWM3.Dal" MigrationConfiguration="ROWM.Dal.Migrations.Configuration, ROWM3.Dal" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ROWM.Dal.ROWM_Context-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ROWM.Dal.ROWM_SdeContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ROWM.Dal.ROWM_Context" />
    <_ConnectionStringsToInsert Include="ROWM.Dal.ROWM_SdeContext" />
  </ItemGroup>
</Project>